/* style.css */

@keyframes borderRadiusRotate {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }
  
  .rounded-image {
    animation: borderRadiusRotate 5s ease-in-out infinite 1s;
    border: 2px solid #1C1C1C;
    box-shadow: 0px 4px 10px rgba(186, 232, 232, 0.5);
    
  }
  
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DE6464 ;
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 12px;
  }

    
    ::selection {
      color: white;
      background: #F87171 ;
    }
  
  