@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: "Raleway", sans-serif;
    }
}

/* Custom keyframe animations */
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes changeBorderRadius {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 40% 70%/50% 70% 40% 60%;
    }
    100% {
      border-radius: 70% 30% 50% 40%/30% 60% 40% 70%;
    }
  }
  